/* specific page styles for extension "tx_cssstyledcontent" */
	.csc-space-before-80 { margin-top: 80px !important; }
	.csc-space-after-80 { margin-bottom: 80px !important; }
	.csc-textpic-intext-right-nowrap .csc-textpic-text { margin-right: 580px; }
	.csc-textpic-intext-left-nowrap .csc-textpic-text { margin-left: 580px; }
	.csc-textpic-intext-right-nowrap-550 .csc-textpic-text { margin-right: 550px; }
	.csc-textpic-intext-left-nowrap-550 .csc-textpic-text { margin-left: 550px; }